<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mfsLoyaltyPoints">
            <h2><span jhiTranslate="mfsLoyaltyPointsApp.mfsLoyaltyPoints.detail.title">Mfs Loyalty Points</span> {{ mfsLoyaltyPoints.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mfsLoyaltyPointsApp.mfsLoyaltyPoints.customerMsisdn">Customer Msisdn</span></dt>
                <dd>
                    <span>{{ mfsLoyaltyPoints.customerMsisdn }}</span>
                </dd>
                <dt><span jhiTranslate="mfsLoyaltyPointsApp.mfsLoyaltyPoints.trxId">Trx Id</span></dt>
                <dd>
                    <span>{{ mfsLoyaltyPoints.trxId }}</span>
                </dd>
                <dt><span jhiTranslate="mfsLoyaltyPointsApp.mfsLoyaltyPoints.pointsEarned">Points Earned</span></dt>
                <dd>
                    <span>{{ mfsLoyaltyPoints.pointsEarned }}</span>
                </dd>
                <dt><span jhiTranslate="mfsLoyaltyPointsApp.mfsLoyaltyPoints.pointsUsed">Points Used</span></dt>
                <dd>
                    <span>{{ mfsLoyaltyPoints.pointsUsed }}</span>
                </dd>
                <dt><span jhiTranslate="mfsLoyaltyPointsApp.mfsLoyaltyPoints.isReset">Is Reset</span></dt>
                <dd>
                    <span>{{ mfsLoyaltyPoints.isReset }}</span>
                </dd>
                <dt><span jhiTranslate="mfsLoyaltyPointsApp.mfsLoyaltyPoints.previousBalance">Previous Balance</span></dt>
                <dd>
                    <span>{{ mfsLoyaltyPoints.previousBalance }}</span>
                </dd>
                <dt><span jhiTranslate="mfsLoyaltyPointsApp.mfsLoyaltyPoints.currentBalance">Current Balance</span></dt>
                <dd>
                    <span>{{ mfsLoyaltyPoints.currentBalance }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/mfs-loyalty-points', mfsLoyaltyPoints.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
