<div>
    <h2 id="page-heading">
        <span jhiTranslate="mfsLoyaltyPointsApp.mfsLoyaltyPoints.home.title">Mfs Loyalty Points</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-mfs-loyalty-points" [routerLink]="['/mfs-loyalty-points/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mfsLoyaltyPointsApp.mfsLoyaltyPoints.home.createLabel">
            Create a new Mfs Loyalty Points
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="mfsLoyaltyPoints?.length === 0">
        <span jhiTranslate="mfsLoyaltyPointsApp.mfsLoyaltyPoints.home.notFound">No mfsLoyaltyPoints found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="mfsLoyaltyPoints && mfsLoyaltyPoints.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="customerMsisdn"><span jhiTranslate="mfsLoyaltyPointsApp.mfsLoyaltyPoints.customerMsisdn">Customer Msisdn</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="trxId"><span jhiTranslate="mfsLoyaltyPointsApp.mfsLoyaltyPoints.trxId">Trx Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pointsEarned"><span jhiTranslate="mfsLoyaltyPointsApp.mfsLoyaltyPoints.pointsEarned">Points Earned</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pointsUsed"><span jhiTranslate="mfsLoyaltyPointsApp.mfsLoyaltyPoints.pointsUsed">Points Used</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="isReset"><span jhiTranslate="mfsLoyaltyPointsApp.mfsLoyaltyPoints.isReset">Is Reset</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="previousBalance"><span jhiTranslate="mfsLoyaltyPointsApp.mfsLoyaltyPoints.previousBalance">Previous Balance</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="currentBalance"><span jhiTranslate="mfsLoyaltyPointsApp.mfsLoyaltyPoints.currentBalance">Current Balance</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mfsLoyaltyPoints of mfsLoyaltyPoints ;trackBy: trackId">
                    <td><a [routerLink]="['/mfs-loyalty-points', mfsLoyaltyPoints.id, 'view']">{{ mfsLoyaltyPoints.id }}</a></td>
                    <td>{{ mfsLoyaltyPoints.customerMsisdn }}</td>
                    <td>{{ mfsLoyaltyPoints.trxId }}</td>
                    <td>{{ mfsLoyaltyPoints.pointsEarned }}</td>
                    <td>{{ mfsLoyaltyPoints.pointsUsed }}</td>
                    <td>{{ mfsLoyaltyPoints.isReset }}</td>
                    <td>{{ mfsLoyaltyPoints.previousBalance }}</td>
                    <td>{{ mfsLoyaltyPoints.currentBalance }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/mfs-loyalty-points', mfsLoyaltyPoints.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/mfs-loyalty-points', mfsLoyaltyPoints.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(mfsLoyaltyPoints)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="mfsLoyaltyPoints && mfsLoyaltyPoints.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
