<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-mfs-loyalty-points-heading" jhiTranslate="mfsLoyaltyPointsApp.mfsLoyaltyPoints.home.createOrEditLabel">Create or edit a Mfs Loyalty Points</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mfsLoyaltyPointsApp.mfsLoyaltyPoints.customerMsisdn" for="field_customerMsisdn">Customer Msisdn</label>
                    <input type="text" class="form-control" name="customerMsisdn" id="field_customerMsisdn"
                           formControlName="customerMsisdn"/>
                    <div *ngIf="editForm.get('customerMsisdn')!.invalid && (editForm.get('customerMsisdn')!.dirty || editForm.get('customerMsisdn')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('customerMsisdn')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mfsLoyaltyPointsApp.mfsLoyaltyPoints.trxId" for="field_trxId">Trx Id</label>
                    <input type="text" class="form-control" name="trxId" id="field_trxId"
                           formControlName="trxId"/>
                    <div *ngIf="editForm.get('trxId')!.invalid && (editForm.get('trxId')!.dirty || editForm.get('trxId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('trxId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mfsLoyaltyPointsApp.mfsLoyaltyPoints.pointsEarned" for="field_pointsEarned">Points Earned</label>
                    <input type="number" class="form-control" name="pointsEarned" id="field_pointsEarned"
                           formControlName="pointsEarned"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mfsLoyaltyPointsApp.mfsLoyaltyPoints.pointsUsed" for="field_pointsUsed">Points Used</label>
                    <input type="number" class="form-control" name="pointsUsed" id="field_pointsUsed"
                           formControlName="pointsUsed"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mfsLoyaltyPointsApp.mfsLoyaltyPoints.isReset" for="field_isReset">Is Reset</label>
                    <input type="checkbox" class="form-control" name="isReset" id="field_isReset"
                           formControlName="isReset"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mfsLoyaltyPointsApp.mfsLoyaltyPoints.previousBalance" for="field_previousBalance">Previous Balance</label>
                    <input type="number" class="form-control" name="previousBalance" id="field_previousBalance"
                           formControlName="previousBalance"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mfsLoyaltyPointsApp.mfsLoyaltyPoints.currentBalance" for="field_currentBalance">Current Balance</label>
                    <input type="number" class="form-control" name="currentBalance" id="field_currentBalance"
                           formControlName="currentBalance"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
